.wrap {
  padding: 10px;
}

.movieInfoWrap {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.addWrap {
  padding: 8px;
}

.addList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}

.link {
  color: black;
}

.isActive {
  color: brown;
}

.goBackLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  display: inline-block;
}

.goBackLink:hover {
  border-color: #646cff;
}
